.gradient {
    z-index: -1;
    --size: 40vmax;
    --speed: 30s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(rgba(55, 235, 169, 0.6), rgba(56, 32, 152, 1));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    position: absolute;
    top: calc(50vh - var(--size) / 2);
    left: calc(50vw - var(--size) / 2);
}

body {
    background-color: #222;
    position: absolute;
    display: flex;
    overflow: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}